<section id="hero" class="d-flex align-items-center" style="height: 600px;">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Manage Contacts</h1>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet maiores asperiores saepe quasi consequatur. Magni in unde ratione voluptates optio omnis vero perspiciatis, voluptatum autem aut, doloribus sapiente asperiores quam.</h2>
          <a routerLink="/admin/add-contacts" class="btn-get-started scrollto">Add Contacts</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <div class="container my-5">
    <h1 style="text-align: center;">Contacts
      <!-- <button type="button" id="b1" class="btn position-absolute end-0" style="margin-right: 90px;" routerLink="/admin/add-contacts">Add Contacts</button> -->
    </h1>
  <table class="table table-striped my-5 table-light table-hover table-responsive">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Registered at</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center">
        <tr *ngFor = "let i of contacts; let count = index">
          <th scope="row">{{count+1}}</th>
          <td>{{i?.name}}</td>
          <td>{{i?.email}}</td>
          <td>{{i?.contact}}</td>
          <td>{{i?.registeredAt | date}}</td>
          <td><button class="btn btn-success" routerLink='/admin/update-contacts/:id'><i class="bi bi-pencil-square"></i></button>&nbsp;&nbsp;
              <button class="btn btn-danger" (click)="deleteContact(i?.id)">
                <i class="bi bi-trash-fill"></i></button>
          </td>
  
        
       </tbody>
    </table>
  </div> 